@page
@model ContosoUniversity.Pages.Instructors.DetailsModel

@{
    ViewData["Title"] = "Instructor Details";
}

<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Instructor Details</h3>
    </div>

    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Instructor.LastName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Instructor.LastName)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Instructor.FirstMidName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Instructor.FirstMidName)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Instructor.HireDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Instructor.HireDate)
            </dd>
        </dl>
    </div>

    <div class="card-footer">
        <a asp-page="./Edit"
               asp-route-id="@Model.Instructor.Id"
               class="btn btn-warning">
            Edit
        </a>

        <a asp-page="./Index"
               class="btn btn-secondary">
            Back to List
        </a>
    </div>
</div>