@page
@model ContosoUniversity.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Student Details";
}

<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Student Details</h3>
    </div>

    <div class="card-body">

        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Student.LastName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Student.LastName)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Student.FirstMidName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Student.FirstMidName)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Student.EnrollmentDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Student.EnrollmentDate)
            </dd>
        </dl>

        <h5 class="mt-4">Enrollments</h5>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Course Title</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Student.Enrollments)
                {
                    <tr>
                        <td>@item.Course.Title</td>
                        <td>@item.Grade</td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

    <div class="card-footer">
        <a asp-page="./Edit"
               asp-route-id="@Model.Student.ID"
               class="btn btn-warning">
            Edit
        </a>

        <a asp-page="./Index"
               class="btn btn-secondary">
            Back
        </a>
    </div>
</div>