@page
@model ContosoUniversity.Pages.Courses.DetailsModel

@{
    ViewData["Title"] = "Course Details";
}

<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Course Details</h3>
    </div>

    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Course.CourseID)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Course.CourseID)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Course.Title)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Course.Title)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Course.Credits)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Course.Credits)
            </dd>

            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Course.Department)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Course.Department.Name)
            </dd>
        </dl>
    </div>

    <div class="card-footer">
        <a asp-page="./Edit"
               asp-route-id="@Model.Course.CourseID"
               class="btn btn-warning">
            Edit
        </a>

        <a asp-page="./Index"
               class="btn btn-secondary">
            Back
        </a>
    </div>
</div>